Repository hydrologie/xdatasets, pull requests merged in 2025-02, with the labels that each got.

#188 Cookiecutter update
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/workflow-warning.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  .zizmor.yml
  CHANGELOG.rst
  CI/requirements_ci.in
  CI/requirements_ci.txt
  README.rst
  docs/conf.py
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
  src/xdatasets/tutorial.py
  src/xdatasets/utils.py
  src/xdatasets/workflows.py
  tests/test_xdatasets.py
  tox.ini
Labels: CI, docs

#191 Add missing token
  .github/workflows/bump-version.yml
Labels: CI

#187 pin intake-xarray
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
Labels: docs
